
.body-container {
    height: 100vh;  
}

#app-title {
    font-family: 'Bebas Neue';
    border-bottom: 7px solid #dc3545;
    letter-spacing: 10px;
}

#type-menu {
    max-width: 230px;
}

#data {
    max-width: 540px;
}